# Homework-2

## Part 1, Working with Numpy
    Your goal is to calculate the final grade for studnets in a class. 
      1. We have 10 Students in class, and 5 assessment score ( Homework, Project, Exam1, Exam2, Final Exam)for each
      student. Create a matrix containing grades of students, (rows are students, columns are assessments). Use for loop and input  function for entering the student name and grades. Enter arbitary grades from 0 to 100 for each assessment 
        2. Create a weigth vector containing weight of each assessment. Example (15%, 15%, 20%, 20%, 30% )
        3. Calculate the final grade for each students. Use Numpy to create your vector, matrix and calculating final grade.
        4. Convert final grades to letter format(90%-100% = A, 80%-89% = B, 70%-79% =C, 60%-69%=D and F for less than 60% )
        5. print out Student names and their grades

## Part 2, Working with Pandas

    - Step 1: Download the titanic.csv file from github.


    - Step 2: Read the file in Python and store it in a dataframe.


    - Step 3: Explore the data in your Jupyter notebook, eg. general info about data, some basic stats.
      Also print out the data for row index 100-105 and columns 'Name', 'Age', 'Fare'


    - Step 4: Create two dataframes, one containing data for only Categorical Variables and one for only Quantitative variable
  
    - Step 5: Write these newly created dataframe in .csv files.

# Part 1

## Step 1: Create a Matrix with Student Grades

In [ ]:
import numpy as np
student_names= []
grades_list= []
for i in range (10):
    name = input(f"Enter name for student {i+1}: ")
    student_names.append(name)
    print(f"  Enter grades for {name}:")
    homework = float(input("    Homework: "))
    project = float(input("    Project: "))
    exam1 = float(input("    Exam 1: "))
    exam2 = float(input("    Exam 2: "))
    final_exam = float(input("    Final Exam: "))
    grades_list.append([homework, project, exam1, exam2, final_exam])

## Step 2: Create weights

In [10]:
weights = [0.15, 0.15, 0.20, 0.20, 0.30]

## Step 3: Calculate final grade for each student

In [20]:
final_grades= []
for student_grades in grades_list:
    final = (student_grades[0] * weights[0] + 
             student_grades[1] * weights[1] + 
             student_grades[2] * weights[2] + 
             student_grades[3] * weights[3] + 
             student_grades[4] * weights[4])
    final_grades.append(final)

## Step 4: Convert to letter grades

In [21]:
letter_grades= []
for grade in final_grades:
    if grade >= 90:
        letter_grades.append('A')
    elif grade >= 80:
        letter_grades.append('B')
    elif grade >= 70:
        letter_grades.append('C')
    elif grade >= 60:
        letter_grades.append('D')
    else:
        letter_grades.append('F')

## Step 5: Print students names and grades

In [18]:
print("\n==== Final Grades ====")
for i in range(10):
    print(f"{student_names[i]}: {final_grades[i]:.1f} ({letter_grades[i]})")

==== Final Grades ====
Carla : 71.5 (C)
carlos: 88.0 (B)
Manuel: 90.0 (A)
nio: 50.0 (F)
ima: 87.5 (B)
iva: 83.0 (B)
naive: 50.0 (F)
nira: 88.0 (B)
Tatiana: 81.4 (B)
oracio: 89.2 (B)

# Part 2

##  Read the file and store in a dataframe

In [28]:
import pandas as pd

df = pd.read_csv('/Users/carlossantiagopenalozaarevalo/Downloads/DATA SC/Files data sc/titanic.csv')

print("Data loaded successfully!")
print(f"Dataset has {len(df)} rows")
df.head(10)

Data loaded successfully!
Dataset has 891 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Step 3: explore the data

In [29]:
print("=== General Information ===")
print(df.info())

print("\n=== Basic Statistics ===")
print(df.describe())

print("\n=== First few rows ===")
print(df.head())

=== General Information ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

=== Basic Statistics ===
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

=== First few rows ===
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

## print out data index 100-105 and columns 'Name', 'Age', 'Fare'

In [30]:
print("\n=== Rows 100-105 for Name, Age, Fare ===")
print(df.loc[100:105, ['Name', 'Age', 'Fare']])

=== Rows 100-105 for Name, Age, Fare ===
                                 Name   Age     Fare
100            Petranec, Miss Matilda  28.0   7.8958
101  Petroff, Mr. Pastcho ("Pentcho")   NaN   7.8958
102         White, Mr. Richard Frasar  21.0  77.2875
103        Johansson, Mr. Gustaf Joel  33.0   8.6542
104    Gustafsson, Mr. Anders Vilhelm  37.0   7.9250
105             Mionoff, Mr. Stoytcho  28.0   7.8958

## step 4: create two dataframes

In [31]:
categorical_df = df.select_dtypes(include=['object'])
print("=== Categorical Variables ===")
print(categorical_df.head())
print(f"Columns: {list(categorical_df.columns)}")
quantitative_df = df.select_dtypes(include=['number'])
print("\n=== Quantitative Variables ===")
print(quantitative_df.head())
print(f"Columns: {list(quantitative_df.columns)}")

=== Categorical Variables ===
                                                Name     Sex  \
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                              Heikkinen, Miss Laina  female
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                           Allen, Mr. William Henry    male

             Ticket Cabin Embarked
0         A/5 21171   NaN        S
1          PC 17599   C85        C
2  STON/O2. 3101282   NaN        S
3            113803  C123        S
4            373450   NaN        S
Columns: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

=== Quantitative Variables ===
   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500
Columns: ['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [32]:
categorical_df.to_csv('titanic_categorical.csv', index=False)
quantitative_df.to_csv('titanic_quantitative.csv', index=False)
print("\nFiles saved successfully")

Files saved successfully